div#kaspa-widget {
    height: 485px !important;
    background-color: #01134d !important;
} 

p {
    margin: 0px;
}

h2 {
    margin-top: 40px;
}

div.apexcharts-tooltip-text {
    color: #000000;
}

div.apexcharts-menu {
    background-color: #ff;
}

div.apexcharts-tooltip.apexcharts-theme-light {
    color: #000000;
}

.apexcharts-menu-open {
    color: #000000;
}
.volume-24hr {
    color: #ffffff
}        
.apexcharts-line-series path {
    stroke: #3addbe !important;
}
    
.apexcharts-canvas {
    margin-top: 5px; !important;
}
    
