.app-container {
  position: relative;
  background-image: url('../assets/images/background.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  /* Other styles for the container element */
}

.content-container {
  display: flex;
}

.logo-icon { /* Styles the logo top left of page */
  margin-left: 10px;
  margin-top: -90px;
  width: 369px;
  height: 138px;
}

h3.kaspa-vision-title {
  margin-top: -90px;
  margin-left: 950px;
  font-size: 32px;
}

h3 p {
  position: relative;
  margin-top: 50px;
  left: -450px;
  width: 1100px;
}

p {
  margin-top: 10px;
  margin-bottom: -15px;
  margin-left: 25px;
  font-size: 26px;
}

h4 a {
  position: relative;
  left: 0px;
}

h5 a {
  position: relative;
  left: 650px;
}

  /* Styles the social media icons */
.icon-row {
  position: absolute;
  top: 10px; /* Adjust this value to control vertical position */
  right: 10px; /* Adjust this value to control horizontal position */
  display: flex;
}

.icon-link {
  display: inline-block;
  margin-right: 10px; /* Adjust this value to control spacing between icons */
}

.row-icon {
  width: 48px;
  height: 48px;
  /* Add other styles if needed */
}
 /* End Styles the social media icons */

 /* Styles Kaspa Vision Text */
.text-container {
  flex: 1;
  margin-top: 100px;
}

.kaspa-vision {
  text-align: center;
  padding: 20px;
}

.kaspa-vision h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.kaspa-vision p {
  font-size: 16px;
  line-height: 1.5;
}
 /* End of Styles Kaspa Vision Text */

 /* Media Queries adjust the layout based on different screen sizes */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column; /* Stack content vertically on smaller screens */
  }
  
  .chart-container,
  .text-container {
    margin: 20px 0; /* Add spacing between sections */
  }
}
